body {
    font-family: 'Roboto', sans-serif;
}

.page-header {
    margin-top: 20px;
}

.right-floated {
    float: right;
}

.has-error small {
    color: #A94442;
}

td {
    max-width: 200px;
}

.ui-widget,
.ui-widget input,
.ui-widget button {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.ui-datepicker {
    padding: .7em .7em .4em .7em;
}

.ui_tpicker_hour_label,
.ui_tpicker_minute_label,
.ui_tpicker_second_label {
    margin-top: .4em;
    margin-bottom: .4em;
}
