/**
 * Callouts
 */
.bs-callout {
    padding: 20px 20px 10px 20px;
    margin: 20px 0;
    border: 1px solid;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
